<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eco_bag</key>
	<string>Эко-сумка вместо пакета</string>
	<key>sort_trash</key>
	<string>Сортировать мусор</string>
	<key>light_off</key>
	<string>Выключать свет</string>
	<key>eco_wash</key>
	<string>Максимально заполнять стиральную машинку</string>
	<key>eco_dish</key>
	<string>Мыть посуду в миске или посудомойке</string>
	<key>e_book</key>
	<string>&quot;Да&quot; электронной прессе вместо бумажной</string>
	<key>walk</key>
	<string>Ходить пешком</string>
	<key>bicycle</key>
	<string>Ездить на велосипеде</string>
	<key>no_junk_food</key>
	<string>Отказ от вредных продуктов</string>
	<key>no_plastic</key>
	<string>Отказ от пластиковой упаковки</string>
	<key>eco_bottle</key>
	<string>Многоразовая бутылка для воды</string>
	<key>eco_water</key>
	<string>Выключать воду, когда чистишь зубы или бреешься</string>
	<key>eco_things</key>
	<string>Контролировать необходимость покупки вещей</string>
	<key>eco_two_life</key>
	<string>Дать вторую жизнь старым вещам</string>
	<key>eco_napkin</key>
	<string>Текстильные салфетки вместо бумажных</string>
	<key>eco_chemistry</key>
	<string>Эко- бытовая химия</string>
	<key>eco_mascara</key>
	<string>Эко- косметика</string>
	<key>eco_refrigerator</key>
	<string>Регулярно размораживать холодильник</string>
	<key>eco_paper</key>
	<string>Писать на бумаге с двух сторон</string>
	<key>recycle_paper</key>
	<string>Сдавать бумагу на переработку</string>
	<key>recycle_plastic</key>
	<string>Сдавать пластик на утилизацию</string>
	<key>recycle_glass</key>
	<string>Сдавать стекло на переработку</string>
	<key>recycle_battery</key>
	<string>Сдавать батарейки на утилизацию</string>
	<key>eco_toys</key>
	<string>Игрушки из натуральных материалов</string>
	<key>eco_shower</key>
	<string>Принимать душ вместо ванны</string>
	<key>vegan_day</key>
	<string>Веган-день</string>
</dict>
</plist>
