<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eco_bag</key>
	<string>В магазин лучше брать эко-сумку, вместо полиэтиленового пакета. Не стоит забывать, что такой пакетик разлагается без малого 200 лет и может стать причиной гибели животных.</string>
	<key>sort_trash</key>
	<string>Сортировка мусора постепенно становится обязательной во всех развитых странах. Пора воспитать в себе эту привычку. А можно даже договориться с соседями и поставить во дворе баки для раздельного сбора мусора. Мы уже достаточно долго превращали планету в свалку..</string>
	<key>light_off</key>
	<string>Что может быть проще, чем выключить свет, выходя из комнаты, однако порой мы забываем это делать. Давайте же экономить электроэнергию.</string>
	<key>eco_wash</key>
	<string>Неплохой способ экономии воды, ведь чистая вода необходима для жизни, а мы ее так бездумно тратим. </string>
	<key>eco_dish</key>
	<string>Таким образом будет тратиться меньше воды. Не стоит забывать, что,например, в странах Африки люди очень нуждаются в чистой воде. Мы же живем в более комфортных условиях и забыли об экономии. Пора меняться.</string>
	<key>e_book</key>
	<string>Давайте сохранять лес! Cегодня мы вполне можем читать любимые книги с планшета или использовать для этого электронные книги. Это доступно и удобно, нужно лишь выработать  привычку. </string>
	<key>walk</key>
	<string>Ходить пешком полезно для здоровья. Но помимо этого, отказ от постоянного использования автомобиля снижает уровень загрязнения окружающей среды. Растения и животные скажут вам Спасибо!</string>
	<key>bicycle</key>
	<string>Оставить ненадолго машину и прокатиться на велосипеде - приятный способ улучшить свое самочувствие, физическую форму и мир вокруг, ведь автомобильный транспорт дает 60% общего количества загрязнений, поступающих в атмосферу.</string>
	<key>no_junk_food</key>
	<string>Отказ от потребления вредной еды улучшит ваше здоровье и сократит ,в итоге, их производство.</string>
	<key>no_plastic</key>
	<string>Пластик - зло. Желательно исключить пластиковую упаковку или же сократить ее количество. Например покупать больше продуктов наразвес или в экологичной упаковке. </string>
	<key>eco_bottle</key>
	<string>Нам необходимо 2 литра воды в день. Обычно человек забегает в магазин и покупает бутылочку, вторую, третью, а ведь все они пластиковые, а после использования выбрасываются. Многоразовая бутылка для воды - отличный способ сократить количество мусора на нашей планете. </string>
	<key>eco_water</key>
	<string>Можно бесконечно слушать звуки льющейся воды, это успокаивает и приносит удовольствие, но вода - слишком дорогой ресурс, чтобы ее тратить таким образом. Пора экономить воду и учиться наслаждаться тишиной. </string>
	<key>eco_things</key>
	<string>Порой человек покупает вещь не из-за необходимости, а лишь для сиюминутного наслаждения, накопительства или потому что «у всех это уже есть». В итоге мы получаем горы ненужного хлама.Собираясь купить что-то в магазине, подумайте, а так ли нужна эта вещь, или без нее можно обойтись?</string>
	<key>eco_two_life</key>
	<string>В конечном итоге все вещи оказываются на свалках, которые растут день ото дня. Вместо того, чтобы выбросить, к примеру, почти новую коляску, почему бы не продать ее? Старую вазу можно перекрасить, сделать модной, а главное- снова нужной. Фантазируйте, творите! Советы легко можно найти на просторах интернета. </string>
	<key>eco_napkin</key>
	<string>Для гостей и на каждый день. Текстильные салфетки вместо бумажных - это и практично и стильно и сохраняет лес. </string>
	<key>eco_chemistry</key>
	<string>Современная бытовая химия полна вредных веществ, которые попадают в воду, а также в наш организм и в конечном счете влияют на окружающую среду, ведь всё в природе взаимосвязано. Лучше использовать в быту более экологичные средства, которые можно найти в специализированных магазинах или после тщательного изучения состава.</string>
	<key>eco_mascara</key>
	<string>Пользоваться натуральной косметикой - отличная привычка для здоровья кожи и всего организма. </string>
	<key>eco_refrigerator</key>
	<string>Хороший способ экономить электричество - регулярно размораживать холодильник. </string>
	<key>eco_paper</key>
	<string>Для сохранения леса стоит выработать привычку рационального использования бумаги. Ведь  бережное отношение к деревьям благоприятно влияет на всю планету. </string>
	<key>recycle_paper</key>
	<string>Сбор и переработка макулатуры - хороший способ сократить количество мусора, а также уменьшить вырубку лесов. </string>
	<key>recycle_plastic</key>
	<string>Пластиковые бутылки разлагаются около 180-200 лет. Переработка пластика сократит количество мусора на планете на 200 лет</string>
	<key>recycle_glass</key>
	<string>Стекло разлагается 1000 лет! Так что еще как минимум 12 -15 поколений будет &quot;наслаждаться&quot; нашими осколками.</string>
	<key>recycle_battery</key>
	<string>Батарейки разлагаются 110 лет. Это вместилище опасных химических элементов, нейтрализовать которые можно только специальной переработкой.
</string>
	<key>eco_toys</key>
	<string>По мнению специалистов, детская игрушка должна быть из натуральных материалов: если это кукла, то из шерсти и хлопчатобумажных тканей, если машина, то из дерева. Натуральные материалы, в отличие от синтетических, передают правдивую информацию о мире.</string>
	<key>eco_shower</key>
	<string>Выработка данной привычки поможет вам затрачивать гораздо меньше воды.  Это хороший способ сэкономить деньги, а также водные ресурсы. Лучше оставить ванну для особых случаев.</string>
	<key>vegan_day</key>
	<string>Выделить день-два на неделе для питания растительной пищей не составит труда, а пользы от этого будет предостаточно, как для вас, так и для окружающей среды. </string>
	<key>free_cleaning</key>
	<string>Какими чистыми станут наши улицы и парки, если каждый поднимет по бумажке и донесет ее до мусорки? Давайте начнем с себя. Вы можете очистить лестничную площадку, местный парк или улицу, собраться с друзьями и единомышленниками и устроить субботник. Прогулки по чистому парку гораздо приятнее! </string>
</dict>
</plist>
